:root {
  --bor-color-sb: rgb(199, 195, 191);
  --out-color-sb: rgb(162, 154, 142);
  --focus-bor-color-sb: rgb(200, 226, 206);
  --focus-out-color-sb: rgb(0, 128, 42);
  --placeholder-color: rgb(186, 186, 186);
  --background-color: rgb(249, 237, 219);
  --disclaimer-color: hsla(0, 54%, 52%, 0.7);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-bottom: 65px;
}
